// #. Home
// -------

#homepage-top-image img {
  display: block;
  border-bottom: 4px solid $medium-gray;
}

#home #homepage-vimeo {
  margin-bottom: $global-margin;
}

#home #homepage-vimeo .responsive-embed.widescreen iframe {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}